<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Ingredient</title>
</head>
<body>
    <h1>Register Ingredient</h1>
    <form method="post">
        <label for="id_name">Name:</label>
        <input type="text" id="id_name" name="name"><br>
        <label for="id_price_per_unit">Price per unit:</label>
        <input type="text" id="id_price_per_unit" name="price_per_unit"><br>
        <label for="id_quantity">Quantity:</label>
        <input type="text" id="id_quantity" name="quantity"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>